<?xml version='1.0' encoding='utf-8'?>
<widget id="com.freeapp.converter" xmlns="http://w3.org" version="1.0.0">
    <name>EKIDEA</name>
    <description>Knowledge. Ideas. Possibilities</description>
    <content src="https://ph-ekidea.com/login" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
